# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar entornos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/

# Ignorar archivos temporales de IDEs
.vscode/
.idea/
*.log

# Ignorar datos pesados o procesados
data/raw/
data/intermediate/
data/tmp/
data/cache/
data/**/*.parquet
data/**/*.jsonl

#ignorar CSV, JPG2 y ZIP
*.csv
*..jp2
*.zip
*.zip
*.jp2
*.png


# Ignorar backups y outputs grandes
*.bak
*.tar
*.tar.gz
*.7z
*.rar

# Ignorar notebooks temporales
*.ipynb_checkpoints/

# Ignorar archivos de Docker si los generas
**/tarea_docker/tmp/
